@using Hledac.Domain.Rss
@inject NavigationManager _navigationManager

@if (Sites is not null && Sites.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Url</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var site in Sites)
            {
                string? linkToWeb = (site.Site?.Uri ?? "").Trim();
                <tr>
                    <td>@site.Id</td>
                    <td><button class="btn btn-link" type="button" @onclick="() => ToRssFeed(site.Id)">@site.Title</button></td>
                    <td>
                    @if (linkToWeb.Length > 0)
                    {
                        <small><a href="@linkToWeb">@linkToWeb</a></small>
                    }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public IEnumerable<RssCachedSite>? Sites { get; set; }

    private void ToRssFeed(int rssId) => _navigationManager.NavigateTo(string.Concat("rss/", rssId));
}
