@page "/"
@using HledacFirmy.Ares.Services
@using HledacFirmy.Blazor.Components.Hledac
@inherits HledacFirmyComponentBase
@inject AresHttpClient AresClient

<div class="row mb-3">
    <div class="col-xl-6 col-12 d-flex">
        <div class="card w-100 overflow-hidden">
            <div class="card-body">
                <div class="starting-content pe-5">
                    <h3>@L["Welcome"]</h3>
                    <p class="lead text-muted mb-2">@L["LongWelcomeMessage"]</p>
                    @if (!CurrentUser.IsAuthenticated)
                    {
                        <a @onclick="Login" class="btn btn-primary mb-4"><i class="fa-solid fa-right-to-bracket me-1"></i><span>@L["Login"]</span></a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12 d-flex">
        <div class="card w-100 overflow-hidden">
            <div class="card-body">
                <h3>Vydledat dle IČ</h3>
                @if (IsSearching)
                {
                    <p class="text-muted mb-2">Hledám...</p>
                }
                else
                {
                    <p class="text-muted mb-2">
                        Vyplňte IČ hledané firmy:
                        <input @bind="@Value" type="text" id="ic" name="ic" required minlength="4" maxlength="8" size="10" />
                    </p>
                    <a class="btn btn-primary mb-3" @onclick="SearchIc">Vyhledat firmu</a>
                }
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-xl-12 col-12 d-flex">
        <div class="card w-100">
            <div class="card-body">
                <HledacComponent />
            </div>
        </div>
    </div>
</div>

@code {
    private bool IsSearching { get; set; } = false;

    private string Value { get; set; } = string.Empty;

    private async Task SearchIc()
    {
        IsSearching = true;
        StateHasChanged();
        try
        {
            var data = await AresClient.NactiEkonomickySubjektAsync(Value);
            if (data is null)
            {
                await Message.Warn($"IČ '{Value}' nebylo nalezeno.", "Nenalezeno");
            }
            else
            {
                await Message.Success($"Nalezeno: {data?.ObchodniJmeno}", "Nalezeno");
            }
        }
        catch (Exception ex)
        {
            await Message.Error(ex.Message, "Chyba");
        }
        finally
        {
            IsSearching = false;
        }
    }
}
