@page "/"
@using HledacFirmy.Blazor.Components.Hledac
@inherits HledacFirmyComponentBase

<div class="row mb-3">
    <div class="col-xl-6 col-12 d-flex">
        <div class="card w-100 overflow-hidden">
            <div class="card-body">
                <div class="starting-content pe-5">
                    <h3>@L["Welcome"]</h3>
                    <p class="lead text-muted mb-2">@L["LongWelcomeMessage"]</p>

                    @if (!CurrentUser.IsAuthenticated)
                    {
                        <a @onclick="Login" class="btn btn-primary mb-4"><i class="fa-solid fa-right-to-bracket me-1"></i><span>@L["Login"]</span></a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12 d-flex">
    </div>
</div>

<div class="row mb-3">
    <div class="col-xl-12 col-12 d-flex">
        <div class="card w-100">
            <div class="card-body">
                <HledacComponent />
            </div>
        </div>
    </div>
</div>

