@using Hledac.Domain.Rss
@model Feed?
@{
    RssItemSearchModel? filter = ViewData?["Filter"] as RssItemSearchModel;
    if (Model is not null)
    {
        <form method="post" class="row ms-auto" asp-controller="Rss" asp-action="Detail" name="searchForm">
            <input type="hidden" name="FeedId" value="@Model?.Id" />
            <div class="row g-3 align-items-center mb-2">
                <div class="col-auto">
                    <label for="inputDateFrom" class="form-label">Od:</label>
                </div>
                <div class="col-auto">
                    <input type="date" id="inputDateFrom" name="DateFrom" value="@filter?.DateFrom?.ToString("yyyy-MM-dd")" class="form-control" />
                </div>
                <div class="col-auto">
                    <label for="inputDateTo" class="form-label">Do:</label>
                </div>
                <div class="col-auto">
                    <input type="date" id="inputDateTo" name="DateTo" value="@filter?.DateTo?.ToString("yyyy-MM-dd")" class="form-control" />
                </div>
                <div class="col-auto">
                    <label for="inputSearchText" class="form-label">Text:</label>
                </div>
                <div class="col-auto">
                    <input type="text" id="inputSearchText" name="SearchText" value="@filter?.SearchText" class="form-control" />
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit" id="buttonSearch">Hledat</button>
                </div>
            </div>
        </form>
    }
}